<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Ultra Random Builds
      </h1>
      <h2>Select the number of players and get ready to have fun!</h2><br />
      <input type="range" min="1" max="5" id="teamsize" ng-model="teamSize" value="5">
      <h2 id="teamsizelabel">{{teamSize*2}} players</h2><br />
      <div class="ui huge primary button" ng-click="makeRandomTeams()">Let's go! <i class="right arrow icon"></i></div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">What is URB?</h3>
          <p>URB is a new game mode for League of Legends. It consists on giving both teams random champs and builds. You then <b>download the itemset</b> for your build and head right into the game. This mode is meant to be played in the <b>ARAM map</b>.</p>
          <h3 class="ui header">What are item sets?</h3>
          <p>An item set is a custom set of items that are displayed within the in-game item shop. They are included in a drop down along with the Recommended Items. An example item set for an URB game is shown in the image</p>
        </div>
        <div class="six wide right floated column">
          <img src="http://40.media.tumblr.com/fdaef783275c3ffdee816f71e81d53f0/tumblr_nb17ur3c3g1r70zbyo1_1280.jpg" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button" href="#">I got it. Let's play!</a>
        </div>
      </div>
    </div>
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="twelve wide column">
          <h4 class="ui inverted header">About</h4>
          <p>Developed by <a href="https://twitter.com/ivan_dela">@ivan_dela</a> and <a href="https://twitter.com/cristian_jara93">@cristian_jara93</a> for the Riot API Challenge 2.0</p>
        </div>
      </div>
    </div>
  </div>
</div>
